$c_blue: var(--cadet-blue);
$c_blue1: var(--cadet-blue1);
$c_plat: var(--platinum);
$c_plat1: var(--platinum1);
$c_tera: var(--terra-cotta);
$c_tera2:  hsl(8, 70%, 78%);
$c_tera1: var(--terra-cotta1);
$c_cata: var(--catawba);
$c_cata1: var(--catawba1);

:root{
    --cadet-blue: #4b9daaff;
    --cadet-blue1: #daecefff;

    --platinum: #e6e8e6ff;
    --platinum1: #fafbfaff;

    --terra-cotta: #e26d5cff;
    --terra-cotta1: #f9e2deff;

    --catawba: #723d46ff;
    --catawba1: #e7d3d7ff;


}