@import "adds/colors";

.App {
  text-align: center;
  background: linear-gradient($c_n1, $c_p0);
  color: $c_p2;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.header {
  background-color: $c_n0;
  box-shadow: 0px 0px 0.5em $c_w1;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-size: 3rem;
  }

  &:hover ul {
    width: 20% !important;
    font-size: 1.5rem !important;
  }

  .nav-rightside {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    ul {
      width: 0%;
      height: 100%;
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0em;
      padding: 0;
      margin: 0;
      margin-right: 3rem;
      gap: 2em;
      transition: width 1s cubic-bezier(0, 0, 0.05, 1), font-size 200ms ease;

      li {
        position: relative;
        height: 100%;
      }

      .nav-link {
        position: absolute;
        font-size: 1em;
        color: $c_b3;
        filter: none;
        text-decoration: none;
        transform: translate(-100%, -50%);
        transition: all 200ms ease-in-out;

        &:visited {
          color: $c_b3;
        }

        &:hover {
          font-size: 1.2em;
          filter: brightness(1.2);
          &::after {
            width: 100%;
          }
        }

        &::after {
          display: block;
          content: "";
          background-color: $c_b3;
          width: 0%;
          margin: 0 auto;
          height: 1px;
          transition: all 200ms ease-in-out;
        }
      }
    }

    .nav-cart {
      position: relative;
      z-index: 2;
      background-color: $c_b2;
      border: solid 0.1em $c_b3;
      color: $c_n;
      font-size: 1.5rem;
      padding: 0.3em 0.6em;
      border-radius: 0.5em;
      filter: none;
      transition: all 200ms ease-in-out;

      &:hover {
        filter: brightness(1.2);
      }
    }
  }
}

.cart-parrent {
  display: block;
  position: absolute;
  transform: translate(-80%, 0%);
  overflow: hidden;
}

.cart-ani-enter {
    transform: translateY(-110%);
}
.cart-ani-enter-active {
    transform: translateY(0);
    
}

.cart-ani-exit {
    transform: translateY(0);

}
.cart-ani-exit-active {
    transform: translateY(-110%);
}

.cart-display {
  display: block;
  position: relative;
  font-size: 1.5em;
  width: 18rem;
  padding: 1em;
  border-radius: 1em;
  border: solid 0.1em $c_n1;
  background-color: $c_n;
  transition: all 200ms ease-in-out;

   h2 .hint{
      display: block;
      position: absolute;
      font-size: 0.5em;
      font-weight: normal;
      font-style: italic;
      color: $c_p0;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  & > * {
    margin-bottom: 0.5rem;
  }
  h3 {
    display: block;
    text-align: right;
    position: relative;
    .hint{
      position: absolute;
      font-size: 1em;
      font-weight: normal;
      color: $c_p0;
      left: 0;
      top: 50%;
      transform: translateY( -50%);
    }
  }
}

.cart-item {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  background-color: $c_n;
  margin-bottom: 0.1em;
  padding: 0.3em;
  border-radius: 0.5em;
  transition: all 200ms ease-in-out;
  .center {
    font-size: 1rem;
    color: $c_p4;
    h4 {
      font-size: 1.25rem;
      text-align: left;
    }
    margin: 0 auto 0 0.5em;
  }
  &:hover{
    background-color: $c_n0;
    cursor: pointer;
  }
}
