:root {
  --cadet-blue: #4b9daaff;
  --cadet-blue1: #daecefff;
  --platinum: #e6e8e6ff;
  --platinum1: #fafbfaff;
  --terra-cotta: #e26d5cff;
  --terra-cotta1: #f9e2deff;
  --catawba: #723d46ff;
  --catawba1: #e7d3d7ff;
}

body {
  background-color: var(--terra-cotta);
  min-height: 100vh;
}

.App {
  text-align: center;
  color: var(--terra-cotta);
  width: 100%;
}

.header {
  background-color: var(--platinum);
  -webkit-box-shadow: 0px 0px 0.5em var(--cadet-blue);
          box-shadow: 0px 0px 0.5em var(--cadet-blue);
  padding: 0 5%;
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header h1 {
  font-size: 3rem;
  color: var(--cadet-blue) !important;
}

.header:hover ul {
  width: 20% !important;
  font-size: 1.5rem !important;
}

.header .nav-rightside {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav-rightside ul {
  width: 0%;
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0em;
  padding: 0;
  margin: 0;
  margin-right: 3rem;
  gap: 2em;
  -webkit-transition: width 1s cubic-bezier(0, 0, 0.05, 1), font-size 200ms ease;
  transition: width 1s cubic-bezier(0, 0, 0.05, 1), font-size 200ms ease;
}

.header .nav-rightside ul li {
  position: relative;
  height: 100%;
}

.header .nav-rightside ul .nav-link {
  position: absolute;
  font-size: 1em;
  color: var(--cadet-blue);
  -webkit-filter: none;
          filter: none;
  text-decoration: none;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.header .nav-rightside ul .nav-link:visited {
  color: var(--cadet-blue);
}

.header .nav-rightside ul .nav-link:hover {
  font-size: 1.2em;
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.header .nav-rightside ul .nav-link:hover::after {
  width: 100%;
}

.header .nav-rightside ul .nav-link::after {
  display: block;
  content: "";
  background-color: var(--cadet-blue);
  width: 0%;
  margin: 0 auto;
  height: 1px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.header .nav-rightside .nav-cart {
  position: relative;
  z-index: 3;
  background-color: var(--terra-cotta1);
  border: solid 0.1em var(--terra-cotta);
  color: var(--terra-cotta);
  font-size: 1.5rem;
  padding: 0.3em 0.6em;
  border-radius: 0.5em;
  -webkit-filter: none;
          filter: none;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.header .nav-rightside .nav-cart:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.cart-parrent {
  display: block;
  position: absolute;
  -webkit-transform: translate(-80%, 0%);
          transform: translate(-80%, 0%);
  overflow: hidden;
}

.cart-ani-enter {
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
}

.cart-ani-enter-active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.cart-ani-exit {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.cart-ani-exit-active {
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
}

.cart-display {
  display: block;
  position: relative;
  z-index: 3;
  font-size: 1.5em;
  width: 18rem;
  padding: 1em;
  border-radius: 1em;
  border: solid 0.1em var(--terra-cotta);
  background-color: var(--platinum);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.cart-display h2 .hint {
  display: block;
  position: absolute;
  font-size: 0.5em;
  font-weight: normal;
  font-style: italic;
  color: var(--cadet-blue);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cart-display > * {
  margin-bottom: 0.5rem;
}

.cart-display h3 {
  display: block;
  text-align: right;
  position: relative;
}

.cart-display h3 .hint {
  position: absolute;
  font-size: 1em;
  font-weight: normal;
  color: var(--cadet-blue);
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--cadet-blue1);
  margin-bottom: 0.1em;
  padding: 0.3em;
  border-radius: 0.5em;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.cart-item .center {
  font-size: 1rem;
  color: var(--terra-cotta);
  margin: 0 auto 0 0.5em;
}

.cart-item .center h4 {
  font-size: 1.25rem;
  text-align: left;
}

.cart-item:hover {
  background-color: var(--catawba1);
  cursor: pointer;
}

.prod-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prod-grid .prod-item {
  position: relative;
  background-color: var(--platinum1);
  border-radius: 1em;
  border: solid 0.1em var(--terra-cotta);
  padding: 1em 1em 0 1em;
  width: 15em;
  color: var(--terra-cotta);
  margin: 1em;
  -webkit-box-shadow: 0px 2px 0.5em var(--cadet-blue);
          box-shadow: 0px 2px 0.5em var(--cadet-blue);
  aspect-ratio: 2 / 3;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.prod-grid .prod-item .img {
  aspect-ratio: 1 / 1;
  background-color: var(--cadet-blue1);
  margin: 1em;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 0.5em var(--cadet-blue);
          box-shadow: 0px 2px 0.5em var(--cadet-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prod-grid .prod-item .img div {
  font-size: 3em;
}

.prod-grid .prod-item h2 {
  text-align: left;
  font-weight: bold;
  margin: 0.5em 0;
}

.prod-grid .prod-item .prod-desc {
  width: 12em;
  margin: 0 auto;
  font-weight: normal;
  font-style: oblique;
  color: #eeaaa0;
}

.prod-grid .prod-item .split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.prod-grid .prod-item .split h3 {
  font-size: 2em;
  color: var(--catawba);
}

.prod-grid .prod-item .split h3 .hint {
  display: block;
  position: absolute;
  font-size: 0.5em;
  font-weight: normal;
  font-style: italic;
  color: var(--cadet-blue);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.prod-grid .prod-item .split button {
  position: absolute;
  font-size: 1.5em;
  background-color: var(--cadet-blue1);
  padding: 0.5em;
  border: none;
  right: 0;
  bottom: 0;
  border-radius: 0.75em;
  -webkit-transform: translate(-0.5em, -0.5em);
          transform: translate(-0.5em, -0.5em);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  cursor: pointer;
  color: var(--catawba);
}

.prod-grid .prod-item .split button:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.prod-grid .prod-item:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.ani-mainpage-enter {
  opacity: 0;
}

.ani-mainpage-enter-active {
  opacity: 1;
}

.ani-mainpage-exit {
  opacity: 1;
}

.ani-mainpage-exit-active {
  opacity: 0;
}

.ani-secpage {
  -webkit-transition: -webkit-transform 700ms cubic-bezier(0.18, 0.89, 0.28, 1.27);
  transition: -webkit-transform 700ms cubic-bezier(0.18, 0.89, 0.28, 1.27);
  transition: transform 700ms cubic-bezier(0.18, 0.89, 0.28, 1.27);
  transition: transform 700ms cubic-bezier(0.18, 0.89, 0.28, 1.27), -webkit-transform 700ms cubic-bezier(0.18, 0.89, 0.28, 1.27);
  position: relative;
  color: var(--cadet-blue);
  width: 100%;
}

.ani-secpage h1 {
  font-size: 12em;
  background-color: var(--platinum);
  margin: 0 0 0.2em 0;
  -webkit-box-shadow: 0px 0px 0.5em var(--cadet-blue);
          box-shadow: 0px 0px 0.5em var(--cadet-blue);
}

.ani-secpage-enter,
.ani-secpage-enter-active {
  -webkit-transform: translateY(-250%);
          transform: translateY(-250%);
}

.ani-secpage-enter-done {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.ani-secpage-exit {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.ani-secpage-exit-active {
  -webkit-transform: translateY(250vh);
          transform: translateY(250vh);
}

.mainpage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--terra-cotta)), to(var(--catawba)));
  background: linear-gradient(var(--terra-cotta), var(--catawba));
  z-index: 10;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.mainpage div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 2em;
  background-color: rgba(230, 232, 230, 0.8);
  padding: 2em;
  font-size: 2em;
  color: var(--cadet-blue);
}

.mainpage div svg {
  position: absolute;
  top: 40%;
  left: 75%;
  font-size: 15em !important;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mainpage div h1 {
  font-size: 8em;
  text-align: left;
  line-height: 0.8;
}

.mainpage div p {
  text-align: left;
  line-height: 0.8;
  position: relative;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.mainpage div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  list-style: none;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -3rem);
          transform: translate(-50%, -3rem);
}

.mainpage div ul li {
  position: relative;
}

.mainpage div ul li a {
  position: absolute;
  white-space: nowrap;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.5em;
  color: var(--cadet-blue);
  -webkit-filter: none;
          filter: none;
  text-decoration: none;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.mainpage div ul li a:visited {
  color: var(--cadet-blue);
}

.mainpage div ul li a:hover {
  font-size: 1.8em;
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
}

.mainpage div ul li a:hover::after {
  width: 100%;
}

.mainpage div ul li a::after {
  display: block;
  content: "";
  background-color: var(--cadet-blue);
  width: 0%;
  margin: 0 auto;
  height: 1px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
/*# sourceMappingURL=App.css.map */